/* helper */

.link-pointer {
	cursor:pointer;
}

body {
	padding-top:32px;
	padding-bottom:32px;
}

/* inputs */

#input-card #input {
	height:450px;
}

#input-card #input.loaded {
	height:50px;
}

.btn-light {
	background-color: #e7e8e8 !important;
}

/* credits */

.credits {
	position:fixed;
	bottom:0;
	right:0;
	padding:8px;
	text-align:right;
	line-height:1em;
}

/* width limiter */

.center {
	text-align:center;
	width:100%;
}

.center .width-limiter {
	max-width:800px;
	display:inline-block;
}

.center .width-limiter #input-card {
	text-align:left;
}

/* mtg card */

.mtg-list {
	position:relative;
}

.mtg-card {
	display:inline-block;
	position:relative;
}

.mtg-card:not(:first-child) {
	margin-top:-128%;
}

.mtg-card .card-counter {
	position:absolute;
	top:1px;
	left:-8px;
	width:32px;
	height:32px;
	background-color:black;
	border-radius:50%;
	border:2px solid white;
	text-decoration:none;
	color:white;
	text-align:center;
}

.mtg-card img {
	pointer-events:none;
	display:block;
	position:relative;
	max-width:100%;
	width:252px;
}

.mtg-card img.fix-border {
	padding:4px;
	border-radius:12px;
	background-color:#14130e;
}

.mtg-card:hover img {
	z-index:999999;
}

/* rows and columns */

.mtg-row {
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
}

.mtg-col {
	padding:2px;
	flex:1;
	max-width:252px;
}

.fake-card {
	display:block;
    position:relative;
    max-width:100%;
    width:252px;
}
