/* helper */

.link-pointer {
	cursor:pointer;
}

body {
	padding-top:32px;
	padding-bottom:32px;
}

/* inputs */

#input-card #input {
	height:600px;
}

.btn-light {
	background-color: #e7e8e8 !important;
}

#input-card .card-footer {
	text-align:center;
}

/* credits */

.credits {
	position:fixed;
	bottom:0;
	right:0;
	padding:8px;
	text-align:right;
	line-height:1em;
}

/* width limiter */

.center {
	text-align:center;
	width:100%;
}

.center .width-limiter {
	display:inline-block;
}

.center #input-card {
	text-align:left;
}

/* mtg card */

.mtg-list {
	position:relative;
}

.mtg-card {
	display:inline-block;
	position:relative;
}

.mtg-card:not(:first-child) {
	margin-top:-128%;
}

.mtg-card .card-counter {
	position:absolute;
	top:1px;
	left:-8px;
	width:32px;
	height:32px;
	background-color:black;
	border-radius:50%;
	border:2px solid white;
	text-decoration:none;
	color:white;
	text-align:center;
}

.mtg-card img {
	pointer-events:none;
	display:block;
	position:relative;
	max-width:100%;
	width:252px;
}

.mtg-card img.fix-border {
	padding:4px;
	border-radius:12px;
	background-color:#14130e;
}

.mtg-card:hover img {
	z-index:100;
}

.mtg-card img.secondary-card {
	display:none;
	position:absolute;
	top:0;
	right:-100%;
}

.mtg-card:hover img.secondary-card {
	display:block;
}

/* rows and columns */

.mtg-row {
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
}

.mtg-col {
	padding:2px;
	flex:1;
	max-width:252px;
}

.fake-card {
	display:block;
    position:relative;
    max-width:100%;
    width:252px;
}

/* options */
#options-modal table tr td {
	cursor:pointer;
}

#options-modal table {
	margin-bottom:0;
}

#options-modal table tr:last-child td {
	border-bottom-right-radius:0.3rem;
}

#options-modal .modal-footer p {
	margin-bottom:0;
}

/* fullscreen img */
.fullscreen-img {
	pointer-events:none;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	z-index:1000;
	position:fixed;
}

.fullscreen-img img {
	pointer-events:none;
	position:fixed;
	max-width:calc(100% - 32px);
	max-height:calc(100% - 31px);
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	box-shadow:0px 0px 28px 24px white;
	z-index:1000;
}

/* other */
#how-does-it-work-collapse .center {
	width:100%;
	text-align:center;
}
#how-does-it-work-collapse .card {
	display:inline-block;
	margin-bottom:12px;
	max-width:450px;
	text-align:left;
}

#how-does-it-work-collapse p:last-child {
	margin-bottom:0;
}