/* helper */

.link-pointer {
	cursor:pointer;
}

body {
	padding-top:32px;
	padding-bottom:32px;
}

.options-menu-btn {
	margin-left:4px;
}

/* inputs */

#input-card #input {
	height:600px;
}

.btn-light {
	background-color: #e7e8e8 !important;
}

#input-card .card-footer {
	text-align:center;
}

/* credits */

.credits {
	position:fixed;
	bottom:0;
	right:0;
	padding:8px;
	text-align:right;
	line-height:1em;
}

/* width limiter */

.center {
	text-align:center;
	width:100%;
}

.center .width-limiter {
	display:inline-block;
}

#statistics-body {
	min-width:800px;
}

.center #input-card {
	text-align:left;
}

/* mtg card */

.mtg-list {
	position:relative;
}

.mtg-card {
	display:inline-block;
	position:relative;
	break-inside: avoid;
}

.mtg-card:not(:first-child) {
	margin-top:-128%;
}

.mtg-card .card-counter {
	position:absolute;
	top:1px;
	left:-8px;
	width:32px;
	height:32px;
	background-color:black;
	border-radius:50%;
	border:2px solid white;
	text-decoration:none;
	color:white;
	text-align:center;
}

.mtg-card img {
	pointer-events:none;
	display:block;
	position:relative;
	max-width:100%;
	width:252px;
}

.mtg-card img.fix-border {
	padding:4px;
	border-radius:12px;
	background-color:#14130e;
}

.mtg-card:hover img {
	z-index:100;
}

.mtg-card img.secondary-card {
	display:none;
	position:absolute;
	top:0;
	right:-100%;
}

.mtg-card:hover img.secondary-card {
	display:block;
}

/* rows and columns */

.mtg-row {
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
}

.mtg-col {
	padding:2px;
	flex:1;
	max-width:252px;
}

.fake-card {
	display:block;
    position:relative;
    max-width:100%;
    width:252px;
}

.mtg-grid .mtg-card img.symbol-img {
	height:14px;
	width:14px;
	display:inline-block;
	margin-left:1px;
	margin-right:1px;
	margin-top:0;
	margin-bottom:0;
	vertical-align:middle;
}
.mtg-grid .mtg-card .mtg-card-cost img.symbol-img {
	height:16px;
	width:16px;
}

/* grid */
.mtg-grid {
	margin-top:22px;
	text-align:left;
	font-size:0;
}

/* textonly */
.mtg-grid .mtg-card.mtg-card-textonly {display:none;}
.mtg-grid.textonly .mtg-card {display:none;}
.mtg-grid.textonly .mtg-card.mtg-card-textonly {
	display:inline-block;
	width:63.5mm;
	height:88.9mm;
	font-size:4mm;
	line-height:1em;
	border:1px solid black;
	padding:2mm;
	vertical-align:top;
	position:relative;
}
.mtg-grid.textonly .mtg-card p {
	margin:0;
	padding:0;
	display:inline;
}
.mtg-grid.textonly .mtg-card .mtg-card-cost {float:right; display:inline-block;}
.mtg-grid.textonly .mtg-card .mtg-card-name {font-size:4mm;}
.mtg-grid.textonly .mtg-card .mtg-card-type-line {font-size:3.2mm;}
.mtg-grid.textonly .mtg-card .mtg-card-rarity-text {font-size:3.2mm; display:inline; position:absolute; right:2mm; margin-top:0.5mm;}
.mtg-grid.textonly .mtg-card .mtg-card-oracle-text {font-size:3.5mm;}

/* split card sizes */
.mtg-grid.textonly .mtg-card.mtg-card-textonly-split .mtg-card-name {font-size:3.0mm;}
.mtg-grid.textonly .mtg-card.mtg-card-textonly-split .mtg-card-type-line {font-size:2.8mm;}
.mtg-grid.textonly .mtg-card.mtg-card-textonly-split .mtg-card-rarity-text {font-size:2.8mm;}
.mtg-grid.textonly .mtg-card.mtg-card-textonly-split .mtg-card-oracle-text {font-size:2.7mm;}
.mtg-grid.textonly .mtg-card.mtg-card-textonly-split .mtg-card-flavor-text {font-size:2.2mm;}

.mtg-grid.textonly .mtg-card .mtg-card-text-container {
	display:flex;
	position:absolute;
	top:12mm;
	bottom:2mm;
	width:calc(100% - 4mm);
	flex-flow:column;
	justify-content:center;
}
.mtg-grid.textonly .mtg-card.has-flavor .mtg-card-text-container {bottom:6.5mm;}
.mtg-grid.textonly .mtg-card .mtg-card-flavor-text {
	font-size:2.5mm;
	font-style:italic;
	bottom:2mm;
	left:2mm;
	right:2mm;
	border-top:1px solid rgba(0,0,0,0.2);
	position:absolute;
}
.mtg-grid.textonly .mtg-card.haspt .mtg-card-flavor-text {
	right:15.5mm;
}
.mtg-grid.textonly .mtg-card .mtg-card-pt {
	display:inline-block;
	position:absolute;
	bottom:6px;
	right:6px;
	border:1px solid rgba(0,0,0,0.2);
	border-radius:4px;
	padding:4px;
}
.mtg-grid .mtg-card-textonly-split-container {display:none;}
.mtg-grid.textonly .mtg-card-textonly-split-container {
	display:inline-block;
	width:63.5mm;
	height:88.9mm;
}
.mtg-grid.textonly .mtg-card-textonly-split {
	transform: rotate(-90deg) translate(-14.3%, -20%);
	width: 88.9mm;
	height: 63.5mm;
    display: flex;
    flex-flow: row;
}
.mtg-grid.textonly .mtg-card-textonly-split.rotate180 {
	transform: rotate(0deg) translate(0, 0);
	width:63.5mm;
	height:88.9mm;
	display:flex;
	flex-flow:column;
}
.mtg-grid.textonly .mtg-card-textonly-split.rotate180 .mtg-card.mtg-card-textonly {
	width:63.5mm;
	height:44.45mm;
	max-width:63.5mm;
	max-height:44.45mm;
}
.mtg-grid.textonly .mtg-card-textonly-split.rotate180 .mtg-card.mtg-card-textonly:not(:first-child) {
	transform: rotate(180deg);
}
.mtg-grid .mtg-card img:not(.symbol-img) {
	width:63.5mm;
	height:88.9mm;
	max-width:63.5mm;
	max-height:88.9mm;
}
.mtg-grid.textonly .mtg-card-textonly-split .mtg-card.mtg-card-textonly {
	width:44.45mm;
	height:63.5mm;
	max-width:44.45mm;
	max-height:63.5mm;
}

@media print {
	@page {
		margin:0;
		size:A4;
	}
	body {
		padding:0;
	}
	.mtg-grid {
		margin-top:0;
		width:210mm;
	}
	.mtg-grid .mtg-card {
		color:black;
		background-color:white;
	}
}
.mtg-grid .mtg-card img,
.mtg-grid .mtg-card {
	margin:0px;
	padding:0px;
	border-radius:6px;
	display:inline-block;
}
.mtg-grid .mtg-card img.secondary-card {
	display:inline-block;
	position:relative;
	top:0;
	left:0;
}

/* options */
#options-modal table tr td, #options-modal table tr td * {
	cursor:pointer;
}

#options-modal table {
	margin-bottom:0;
}

#options-modal .modal-footer p {
	margin-bottom:0;
}

/* fullscreen img */
.fullscreen-img {
	pointer-events:none;
	background-color:rgba(0,0,0,0.8);
	top:0;
	left:0;
	position:fixed;
	z-index:1000;

	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	background-color:rgba(0,0,0,0.8);

	transition:opacity 0.1s ease;
}

.fullscreen-img .fs-img {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.fullscreen-img .fs-img img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	max-width: 94%;
	max-height: 94%;
	box-shadow: 0px 0px 24px 16px white;
}

.fullscreen-img.transparent {opacity:0.3;}

/* other */
#how-does-it-work-collapse .center {
	width:100%;
	text-align:center;
}
#how-does-it-work-collapse .card {
	display:inline-block;
	margin-bottom:12px;
	max-width:450px;
	text-align:left;
}

#how-does-it-work-collapse p:last-child {
	margin-bottom:0;
}

.manadist-grid {
	display:flex;
	justify-content:center;
	align-items:top;
	flex-wrap:wrap;
	margin-top:8px;
}

.manadist-grid-item {
	display:inline-block;
	margin-left:4px;
	margin-right:4px;
}

.manadist-grid-item img {
	max-width:40px;
	max-height:40px;
	width:100%;
}

.typelist-item {
	display:block;
	margin-bottom:2px;
	text-align:left;
	position:relative;
	font-weight:bold;
	border-bottom:1px solid rgba(0,0,0,0.07);
}
.typelist-item-card {
	background-color:transparent;
	border:none;
	padding:0;
	margin:0;
}
.typelist-item-right {
	display:inline-block;
	position:absolute;
	right:0px;
}
.typelist-item.typelist-item-subtype {
	color:#888;
	padding-left:16px;
	border-bottom:none;
}

/* dark mode */

body.bg-dark {
	background-color:#4c5156!important;
} 

.form-control-dark {
	color:white!important;
	background-color:#4c5156!important;
	border-color:rgba(0,0,0,0.125);
}

.form-control-dark::selection {
	color:white;
	background-color:rgba(0,0,0,0.3);
}

body.bg-dark .modal-dialog .modal-content {
	background-color:#343a40!important;
	color:white;
}

body.bg-dark .modal-dialog .modal-content table tr td.table-success {
	color:#212529;
}

body.bg-dark .modal-dialog .modal-content .modal-header,
body.bg-dark .modal-dialog .modal-content .modal-footer {
	border-color:#32383e;
}

#loading-notification .loading-notification-box {
	max-width:400px;
	font-size:12px;
	padding:16px;
	border:1px solid #eee;
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
}
